@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>起始时间：@ViewBag.startTime 结束时间：@ViewBag.endTime   总数：@ViewBag.count</h2>
        <h2>@ViewBag.t</h2>
    </div>
</div>
